[Unit]
Description=IPLM Daphne Service
After=network.target
[Service]
Type=simple
User=iplm
Group=www-data
WorkingDirectory=/srv/iplm/iplm-django
ExecStart=/srv/iplm/iplm-django/venv/bin/daphne -u /srv/iplm/nginx.sock iplm_django.asgi:application
[Install]
WantedBy=multi-user.target
