[Unit]
Description=MPD Daphne Service
After=network.target
[Service]
Type=simple
User=mpd
Group=www-data
WorkingDirectory=/srv/mpd/mpd-django
ExecStart=/srv/mpd/mpd-django/venv/bin/daphne -u /srv/mpd/nginx.sock mpd_django.asgi:application
[Install]
WantedBy=multi-user.target
